# Data Structures

## 1. Strings

In [1]:
a = "saman"

In [2]:
print(a)

saman

In [3]:
a = 'saman'

In [4]:
print(a)

saman

In [5]:
a = '''
this is a multiline
string
'''

In [6]:
print(a)

this is a multiline
string

In [7]:
a

'\nthis is a multiline\nstring\n'

In [8]:
a = """
this is a multiline
string

"""

In [9]:
print(a)

this is a multiline
string

In [10]:
ord('a')  #It gives the ASCII value of the string

97

In [11]:
chr(65)  #Will give the corresponding character

'A'

String Operations

In [12]:
a = 1
b = 2
c = 3

In [13]:
print(str(a) + "-" + str(b) + "-" + str(c))

1-2-3

we can also write like this

In [14]:
print("%d-%d-%d" % (a, b, c))  #In statistically typed languages this format was used

1-2-3

In [15]:
a = "saman"
b = 2
c = 3

In [16]:
print("%d-%d-%d" % (a, b, c)) #This will show an error

TypeError: %d format: a number is required, not str

Python gives another way of formatting strings

In [ ]:
print("{1}-{0}-{2}".format(a,b,c))

In [ ]:
print("{lastname},{firstname}".format(firstname = "saman", lastname = "fatima"))

The most common way of formatting strings is this

In [ ]:
print(f"{lastname},{firstname}")

Strip method

In [ ]:
a = "       saman.       "

In [ ]:
print(a)

In [ ]:
print(a.strip())

In [ ]:
a = input()

In [ ]:
a == "yes "

In [ ]:
a.strip() == "Yes    "

Split method

In [ ]:
a = input()

In [ ]:
a

In [ ]:
a.split(' ')

Replace method

In [ ]:
a = "saman"

In [ ]:
a[0] = '1'  #This is not possible since string are immutable

In [ ]:
a.replace('s', 'r')

In [ ]:
a.replace('sa', 'rt')

This takes string as an input and replaces the occurence of 1 string with the occurence of another string

In [ ]:
#For multiple occurences 
a = 'aaabbbbbccc'

In [ ]:
a.replace('a','z')

Count Method

In [ ]:
a.count('a')

In [ ]:
a.count('aa')

## 2. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.

The list of items should be enclosed in square brackets so that python understands that you are specifying a list. 
Once you have created a list , you can add, remove or search for items in the list. Since we can add and remove items,
we say that a list is a mutabke data type i.e, this type can be altered.

Creating lists

In [ ]:
a = [1, 2, 3, 4]

In [ ]:
a[0]

In [ ]:
a= ["saman", 1, 1.6, print]

In [ ]:
a[0]

In [ ]:
a[3]("hello world")

Basic operations

In [ ]:
a = [1, 2, 3, 4]

In [ ]:
len(a)

In [ ]:
a + a

In [ ]:
a * 5

In [ ]:
1 in a

In [ ]:
5 in a

In [ ]:
for x in a:  #they are iterable
    print(x)

Indexing and list slicing

In [ ]:
a

In [ ]:
a[3]

In [ ]:
a[-1]

In [ ]:
a[len(a)-1]

In [ ]:
a = "saman"

In [ ]:
a[-5]

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a[1:4]

In [ ]:
a[0:5:2]

In [ ]:
a = [1, 2, 3, 4]

Amazing way of reversing a string in python

In [ ]:
a[::-1]

#### one line code of checking if a string is palindrome or not

In [ ]:
a = "saman"

In [ ]:
a == a[::-1]

In [ ]:
a = "nitin"

In [ ]:
a == a[::-1]

#### Updating The list

- insert
- append

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a.insert(1,"saman")  # This takes 2 arguments

In [ ]:
a

In [ ]:
a.append("fatima")

In [ ]:
a

### Deleting list elements

- del
- pop
- remove

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a.pop()

In [ ]:
a.pop(2)  # can pop specific element

In [ ]:
a = ["saman", "fatima", "saman"]

In [ ]:
a.remove("saman")  #remove takes object as an argument and removes the first occurence of the argument

In [ ]:
a

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
del a[1] #it is a statement in python it deletes from memory

In [ ]:
a

In [ ]:
del a

In [ ]:
a

### Sorting and reversing

- sort and sorted
- reverse and reversed

In [ ]:
a = [4, 1, 2, 3, 1, 5]

In [ ]:
sorted(a)

In [ ]:
a.sort()

In [17]:
a

'saman'

In [18]:
for i in reversed(a):
    print (i)

n
a
m
a
s

In [19]:
a.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [ ]:
a

## 3. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive 
functionality that the list gives you. One major feature of tuples is that they are immutable like strings i.e. you 
cannot modify tuples.

Tuples are defined by specifying items separated by commas within an optional pair of parenthesis.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection 
of values i.e. the tuple of values used __will not change__

In [ ]:
a = [1,2,3,4]

In [ ]:
a[0] = 5

In [ ]:
id(a)

In [ ]:
a[0] = 1

In [ ]:
id(a)  # The address remains same in case of a list

In [ ]:
a = (1, 2, 3, 4, 5)  # parenthesis for tuple

In [ ]:
a[0] = 1

So why tuples are used--
They are much more efficient consumes less memory but are immutable

In [ ]:
def func(*args):
    print(args)

In [ ]:
func(1, 2, 3, 4)

Python used tuple function because the value of the function will remain the same throughout the program

In [ ]:
def func(*args):
    print(args)

In [ ]:
func(1, 2, 3, 4)

Common interview question and use of tuple

In [ ]:
a = 5
b = 9

In [ ]:
temp = a
a = b
b = temp

In [ ]:
print(a,b)

In [ ]:
a = a+b  # Only possible for integers
b = a-b
a = a-b

In [ ]:
#use of xor
a = a^b
b = a^b
a =a^b

In [ ]:
print(a,b)

But these methods are common in many programming languages

Unique swapping method in python

In [ ]:
a = 1, 2 # comma separated values are by default tuple

In [ ]:
c, d = a # tuples can also be written on the left side of the assignment operator
         # a unpacks the values and puts them in c,d

In [ ]:
print(c)

In [ ]:
print(d)

point to remember is that the number of values should always be same that needs to be unpacked

In [ ]:
c, d, e = a # give an error saying that not enough values to unpack, it was expecting 3

In [ ]:
a = (1, 2, 3)

In [ ]:
c,d = a # It will say too many values to unpack

In [ ]:
a = 3
b = 4

In [ ]:
b, a = a,b

In [ ]:
print (a, b)

### List to tuple and tuple to list...

In [ ]:
a = (1, 2, 3)

In [ ]:
a = list(a)  # since tuple is iterable it is converted to a list

In [ ]:
print(type(a))

In [ ]:
a = list(range(15))

In [ ]:
a

String to a list

In [ ]:
a = list("saman")

In [ ]:
a

In [ ]:
a = tuple(a)

In [ ]:
print(type(a))

### Returning multiple values from functions (The returned thing is a tuple!)

In [ ]:
def addSubtract(a, b):
    #return a + b
    #return a - b # we cannnot use this since when one return statement is encountered it is terminated
    return a+b, a-b

In [ ]:
sum, diff = addSubtract(9, 3)

In [ ]:
sum

In [ ]:
diff

## 4. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only 
his/her name i.e we associate keys(name) with values (details). Note that the key must be unique just like you cannot 
find out the correct information if you have two persons with the exact same name.
- Remember that key-value pairs in a dictionary are not ordered in any manner

Tuples and lists are termed as ordered databases. The values are stored in the form of ordered sequence. All values are accessed using index in the same order as they were defined.

In dictionary it is unordered. It is stored in the form of key-value pair. Data may not be stored as you initiated it.

But you can access the data with the help of key you used while initiating the dictionary.

In [1]:
a = {
    "name": "saman",
    "marks": 90,
    "subjects": ["eng", "math"],
    "friends": {
        "fatima": "android"
    }    
}

In [2]:
a["friends"]

{'fatima': 'android'}

In [3]:
a["name"]

'saman'

Dictionaries are also iterable

In [4]:
for key in a:
    print(key)

name
marks
subjects
friends

### Some important dict methods

- get()

- items()

- keys()

- values()

- clear()

In [5]:
for item in a.items():  # it will create a tuple of key value pair
    print(item)

('name', 'saman')
('marks', 90)
('subjects', ['eng', 'math'])
('friends', {'fatima': 'android'})

In [6]:
for key, value in a.items():
    print(key,"=>",value)

name => saman
marks => 90
subjects => ['eng', 'math']
friends => {'fatima': 'android'}

In [7]:
for key in a.keys():
    print(key)

name
marks
subjects
friends

In [8]:
for val in a.values():
    print(val)

saman
90
['eng', 'math']
{'fatima': 'android'}

In [9]:
a["name"] #This will throw error if not present

'saman'

In [13]:
a.get("name1") #This will throw none but not error

In [11]:
a.clear()

In [12]:
a

{}

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictionaries. 
Your final recored structure should look like this:

    [
        {
            'roll-no' :  1211,
            'name' : 'Ravi',
            'branch' : 'SE'
        }
        {
            'roll-no' :  202,
            'name' : 'Abhishek',
            'branch' : 'SE'
        },
        {
            'roll-no' :  1202,
            'name' : 'Sachin',
            'branch' : 'IT'
        }
    ]

In [ ]:
students = []

In [ ]:
n = int(input())

In [ ]:
for _ in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-no": roll,
        "name": name,
        "branch":branch
    })

In [ ]:
1
saman
coe
2
fatima
it

In [ ]:
students

Keys in the dictionary can be __ANY__ immutable data structure

In [20]:
a = {
    (1, 2): "saman"
}

In [21]:
a[(1,2)]

'saman'

In [22]:
a = {
    [1,2]: "saman"
}

TypeError: unhashable type: 'list'

## 5.Sets

- Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important  than the order or how many times it occurs.

- Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on

It is derived from discrete Mathematics

It is an unordered data structure but it is not meant to be iterated

In [18]:
a = {}

In [19]:
type(a)

dict

In [21]:
a = set()  # To create an empty set we use this syntax otherwise it will become dictionary

In [22]:
type(a)

set

In [26]:
a = {1, 2, 3, 4}  # No key value pairs

In [27]:
b = {3, 4, 5, 6}

Set operations

In [28]:
a.intersection(b)

{3, 4}

In [29]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [30]:
a - b

{1, 2}

In [31]:
a[1] # we cannot index a set

TypeError: 'set' object is not subscriptable

In [32]:
for i in a:
    print (i)

1
2
3
4

In [33]:
a = {1, 2, 3, 4, 1, 2, 3, 4}

In [34]:
a

{1, 2, 3, 4}

In [35]:
len(a)

4

Common question--how to deduplicate a list-easiest way

In [36]:
a = [1, 2, 1, 2, 1, 1, 2, 2]

In [37]:
list(set(a))

[1, 2]

The only problem is the sequence is not insured

### Comprehension

Comprehension is a method by which we can create a list, set and a dictionary in a single line of code.

In [56]:
a = []
for i in range(10):
    a.append(i**2)

In [57]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

In [59]:
[i**2 for i in range(10)]  #common way of writing

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
[i**2 for i in range(10) if i % 2 == 0]  #List when the number is even

[0, 4, 16, 36, 64]

Dictionary Comprehension

In [61]:
{i : i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [62]:
{i : i**2 for i in range(10) if i % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

Set Comprehension

In [63]:
{i**2 for i in range(10) if i % 2 == 0}

{0, 4, 16, 36, 64}

Tuple Comprehension

In [64]:
a = (i**2 for i in range(10))  # This is not a tuple comprehension but a concept of generator expression

In [65]:
a

### Quiz - Python Basics

In [39]:
print("Coding"   "Blocks")

CodingBlocks

In [41]:
print(r'Python\n is the \n best')

Python\n is the \n best

In [42]:
5//3

1

In [44]:
4*5*2

40

In [45]:
---10

-10

In [49]:
s in s

NameError: name 's' is not defined

In [50]:
abc = 2234,2341,000

In [51]:
ab,c = 123222,564,93

ValueError: too many values to unpack (expected 2)

In [52]:
'Coding' + 1 + 1 + 'Blocks'

TypeError: can only concatenate str (not "int") to str

In [53]:
a=5/3
round(a,2)

1.67

In [54]:
22%3

1

### Quiz - Python control flow and loops

In [66]:
x = "xyztv"
i = "t"
while i in x:
 x = x[:-1]
 print(i)

t
t